h1, .monlogo {
    font-family: 'Courgette', cursive;
}

.navbar {
    min-height: 68px;
}

/* .nav-item:hover {
    font-size : 110% ;
} */

.completeName {
    position: fixed;
    /* top: 9px;
    left: 184px; */
    display: none;
    margin-top: -21px;
}

.mybackground {
    background-color: rgb(182, 170, 187);
}

.bg-image {
    background: url(assets/img/drone.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;  
}

.listdrop {
    display: flex;
    flex-direction: column;
}

.myEmail:hover, i:hover, .nav-link:hover, .myTel:hover {
    color: rgb(152, 101, 174);
}

.borderHobby {
    border-right: solid thin rgb(182, 170, 187);
}

.dropdown-toggle:hover {
    border-left-color: #0d6efd;
    border-right-color: #0d6efd;
}

.asterisque {
    color: rgb(194, 40, 53);
}

textarea {
    resize: none;
}

.myEmail, .myTel {
    text-decoration: none;
    color: #000;
}
.logoSocial {
    color: rgb(71, 136, 211);
    transition: 0.3s;
}
.logoSocial:hover {
    color: rgb(152, 101, 174);
    transition: 0.3s;
}

@media screen and (max-width:768px) {
    /* .slideBar  {
        display: none;
    } */
    .dropdown-toggle:hover {
        border-color: #fff;
    }
}

@media screen and (max-width:992px) {
    .borderHobby {
        border-right: none;
    }
}


/* Pour la SLIDEBAR qui ne fonctionne pas encore
@media screen and (min-width:768px) {
    .social, .separationSocial {
        display: none;
        }
} */
/* .navSocial {
    position:absolutefixed-bottom
} */

/* .nav-link a:hover {
    border-bottom-color: #0d6efd;
} */
