
h1, .monlogo {
    font-family: 'Courgette', cursive;
}

.affichage {
    background-color: rgb(182, 170, 187);
}

/* .nav-link a:hover {
    border-bottom-color: #0d6efd;
} */

.bg-image {
    background: url(assets/img/drone4.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;  
    /* linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)),  */
}

/* .about {
    align-items: center;
} */


/* ------------------------------------- NAVBAR -------------------------------- */

/* .navSocial {
    flex-direction: column;
    color: rgb(191, 206, 248);
} */
 


.listdrop {
    display: flex;
    flex-direction: column;
}

.dropdown-toggle:hover {
    border-left-color: #0d6efd;
}

textarea {
    resize: none;
}

/* @media screen and (min-width:992px) {
    .border-end{
        border-right: none;
    }
} */